*.a
aclocal.m4
autom4te.cache/
**/CMakeCache.txt
**/CMakeFiles/
# CMake ignore
*cmake_install.cmake
**/CMakeScripts/
compile
config.guess
config.log
config.status
config.sub
configure
configure.ac
*.core
depcomp
.deps/
.gdb_history
install_manifest.txt
install-sh
*.la
lib/libunshield.so*
.libs
lib/stamp-h1
libtool
lib/unshield_config.h
libunshield.pc
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
src/unshield
src/unshield-deobfuscate
.*.swp
