os:
  - linux
  - osx

osx_image: xcode12u
dist: bionic
arch:
  - amd64
  - arm64
  - ppc64le

language: c

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - clang
  homebrew:
    packages:
      - gcc@10

install:
  # Use the real gcc, not clang
  - if [ "$TRAVIS_OS_NAME" = "osx" ] && [ "$CC" = "gcc" ]; then CC=gcc-10; $CC --version; fi

# cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX:PATH=/var/tmp/unshield . && make && make install
script:
  - ./rebuild.sh
  - ./run-tests.sh
