dist: trusty
sudo: false

language: c

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

env:
  global:
    - CFLAGS="-Wall -Werror -ggdb3"
  matrix:
    - USE_OUR_OWN_MD5=0 BUILD_STATIC=0
    - USE_OUR_OWN_MD5=1 BUILD_STATIC=0
    - USE_OUR_OWN_MD5=0 BUILD_STATIC=1
    - USE_OUR_OWN_MD5=1 BUILD_STATIC=1
    - STATIC_ANALYZER=scan-build CMAKE_OPTS="-DCMAKE_BUILD_TYPE=Debug"

addons:
  apt:
    packages:
      - clang

matrix:
  exclude:
    - os: osx
      env: STATIC_ANALYZER=scan-build CMAKE_OPTS="-DCMAKE_BUILD_TYPE=Debug"
  allow_failures:
    - env: STATIC_ANALYZER=scan-build CMAKE_OPTS="-DCMAKE_BUILD_TYPE=Debug"

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install openssl; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew link openssl --force; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export CMAKE_OPTS="-DOPENSSL_ROOT_DIR=/usr/local/opt/openssl"; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ] && [ "$CC" = "gcc" ]; then CC=gcc-4.9; $CC --version; fi

# cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX:PATH=/var/tmp/unshield . && make && make install
script:
  - mkdir build
  - cd build
  - $STATIC_ANALYZER cmake -DCMAKE_INSTALL_PREFIX:PATH=/var/tmp/unshield -DUSE_OUR_OWN_MD5=$USE_OUR_OWN_MD5 -DBUILD_STATIC=$BUILD_STATIC ${CMAKE_OPTS:-} ..
  - $STATIC_ANALYZER make
  - make install
  - ../run-tests.sh

